<%= render :partial => "/shared/dog_cubes", :locals => { :dog_list => @dogs_active, :name_label => "Dogs" } %>
<%= render :partial => "/shared/crud_links_new", :locals => { 
    :obj => Dog
} %>

<p><%= link_to "Retired Dogs", retired_index_dogs_path %></p>
