<div class="showTitleObject"><%= link_to @hike_story.hike.name, @hike_story.hike%> - according to <%= link_to @hike_story.dog.name, @hike_story.dog %></div>
<%= @hike_story.description %>

<%= render :partial => "/shared/crud_links_edit_new_list", :locals => { 
    :obj => @hike_story
} %>