<h1><%= link_to @hike_story.hike.name, @hike_story.hike%></h1>
<%= @hike_story.description %>

<div style = "clear: both;">
<br>
<%= link_to edit_icon_large, edit_hike_story_path(@hike_story) %> |
<%= link_to list_icon_large, hike_stories_path %>
</div>
