<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Death Valley Dogs: Hikes</title>
  <%= stylesheet_link_tag 'scaffold' %>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

</head>
<body onload="initialize()">

<p style="color: green"><%= flash[:notice] %></p>
<%= render :partial => "shared/tabs_top_level" , :locals =>  { :selected_top_tab => "hikes" }%>

<div id="content">
<%= yield %>
</div>

</body>
</html>
