<div class="showTitleObject"><%= link_to @trip_story.trip.name, @trip_story.trip%> - according to <%= link_to @trip_story.dog.name, @trip_story.dog %></div>
<%= @trip_story.description %>

<%= render :partial => "/shared/crud_links_edit_new_list", :locals => { 
    :obj => @trip_story
} %>