<h1>Editing latest</h1>

<% form_for(@latest) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @latest %> |
<%= link_to 'Back', latests_path %>