<!-- 

    :obj => @hike,

  -->

<p>
<% obj_name = obj.class.name == "Class"? obj.name: obj.class.name %>
<% obj_controller = obj_name.tableize %>
<% obj_id_field = obj_name.foreign_key %>
<% obj_story_controller = "#{obj_name}_stories" %>


<%= render :partial => "/shared/crud_links_edit_new_list", :locals => { 
    :obj => obj
} %> 

<% if current_user %>  

<%= link_to writeup_icon_large, {:controller => obj_story_controller, :action => "new", obj_id_field => obj.id}, 
  {:title => "Add a write-up for this #{obj_name}"} %>
</p>
<% end %>
