<% header_class = nil unless defined?(header_class) %>
<tr>
  <th class="<%= header_class %>" ><%= label %>:</th>
  <td>
  	<ul>
   	  <% obj_array.each do |obj| %>
        <li><%= link_to obj.name, obj %></li>
  	  <% end %>
	  </ul>
  </td>
</tr>
