  <p>
    <%= f.label "Synopsis to show in list:" %><br />
    <%= f.text_area :short_description, :cols => "90", :rows => "5" %>
  </p>

  <%= f.label "Write-up:" %><br />
  <%= f.text_area :description, :class => "mceEditor", :cols => "90", :rows => "35" %>
