/* basic elements */ 

  #mainImageHeader {
    background-color: black;
    background-image: url('../images/dvdogs_header_200.png');
    background-repeat: no-repeat;
    height: 190px;
    position: relative;
  }
  
  #mainImageHeader div {
    vertical-align: bottom;
    bottom: 0;
    position: absolute;
    padding-left: 1em;
  }

	body { 
		/* color: beige; */ 
		font-style: normal; 
		font-variant: normal; 
		font-weight: normal; 
		font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
		background-color: #7e8b4e;  
	}

	p   { 
		font-style: normal; 
		font-variant: normal; 
		font-weight: normal; 
		font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
		text-align: left 
	} 

	a:link { 
		color: black; 
		font-weight: bold; 
		text-decoration: underline
	} 
 
	a:visited { 
		color: black; 
		text-decoration: underline 
	}
  
	a:hover, a:active  { 
		color: green; 
		text-decoration: none 
	} 

	th  { 
	  color: beige;
		background-color: maroon; 
		border-top: 3px none; 
		border-right: 3px none; 
		border-bottom: 2px none black 
	}
	
	td.nav { 
		vertical-align: top 
	}

	h2 { 
		color: maroon 
	}

	table { 
		padding: 5px 
	}

	.nopad {
		border-collapse: collapse;
		padding: 0px
	}

/* Tabs */

	#header ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	#header li {
		display: inline;
		margin: 0 2px 0 0;
	}
	
	.tab a {
		text-decoration: none;
		color: #a80;
		background: beige;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-radius-topleft: 5px; 
    -webkit-border-radius-topright: 5px; 
    padding: 0 8px 0 8px;
	}
	
	#header a:hover {
		background: #fc0;
		color: #540;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-radius-topleft: 10px; 
    -webkit-border-radius-topright: 10px; 
    padding: 4px 8px 0 8px;

	}0123456789a
	
	#header .selected_tab {
	}

	.selected_tab a {
		padding: 0 1em;
		text-decoration: none;
		font-weight: bold;
		color: beige;
		background: maroon;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-radius-topleft: 10px; 
    -webkit-border-radius-topright: 10px; 
    padding: 4px 8px 0 8px;
		
	}

/* Page content beneath tabs */
		
	#content {
    clear: both;
		border-top: 5px solid maroon;
	}
	
  .showTitleObject {
    color: beige;
    background: black;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-radius-bottomleft: 10px; 
    -webkit-border-radius-bottomright: 10px; 
    padding: 10px 5px 10px 15px;
    font-size: xx-large;
  }
  
	/* hike story content */
	
	.singleStory {
    clear: both;
	}

  .shortDescriptionTextArea {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px; 
    border-radius: 15px; 
    border: 3px solid maroon;
    padding: 12px;
    background: beige;
    color: black;
    clear: both;
    height: 100%;
    width: 250px;
   }

  .roundedTextArea {
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-radius-bottonleft: 15px; 
    -webkit-border-radius-bottomright: 15px; 
    border-radius: 15px; 
    border: 5px solid maroon;
    padding: 12px;
    background: beige;
    color: black;
    clear: both;
    height: 95px;
    width: 400px;
    font-size: small;
   }
  
  .roundedTitleArea {
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-radius-topleft: 15px; 
    -webkit-border-radius-topright: 15px; 
    padding: 8px;
    background: maroon;
    color: beige;
    width: 418px;
  }
  
  .roundedTitleArea a:link { 
    color: beige; 
    font-weight: bold; 
    text-decoration: underline
  } 
 
  .roundedTitleArea a:visited { 
    color: beige; 
    text-decoration: underline 
  }


/* Tables */
.maroonRoundedBorder {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px; 
  border-radius: 15px; 
  border: 5px solid maroon;
}

.firstHorizontalColumnHeader{
  -moz-border-radius-topleft: 8px;
  -webkit-border-radius-topleft: 8px;
  padding: 5px;
}

.lastHorizontalColumnHeader{
  -moz-border-radius-topright: 8px;
  -webkit-border-radius-topright: 8px;
  padding: 5px;
}

.firstVerticalColumnHeader{
  -moz-border-radius-topleft: 8px;
  -webkit-border-radius-topleft: 8px;
  padding: 5px;
}

.lastVerticalColumnHeader{
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-radius-bottomleft: 8px;
  padding: 5px;
}

td.horizontalData {
  padding: 5px;
  vertical-align: top;
}
