<p>
  <b>Rig:</b>
  <%=h @rig_upgrade.rig_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @rig_upgrade.description %>
</p>


<%= link_to 'Edit', edit_rig_upgrade_path(@rig_upgrade) %> |
<%= link_to 'Back', rig_upgrades_path %>